//we'l be always changing the colors acording to design from project tot project so u get used to, changing the abstract again an again
$colors: (
  neut: (
    100: white,
    900: black,
  ),
  pri: (
    400: #06f,
  ),
);
