//we'l be always changing the colors acording to design from project tot project so u get used to, changing the abstract again an again
$colors: (
  neut: (
    900: #212121,
    400: #5c5c5c,
    200: #f8f8f8,
    100: #ffffff,
  ),
  pri: (
    400: #ff6635,
    500: #dd4e11,
  ),
);
